<div class="title article serif">
  <h1>{{title}}</h1>
  <h3>{{#each authors}}<a href="{{link}}">{{name}}{{#if @last}}{{else}}, {{/if}}</a>{{/each}}</h3>
</div>
<div class="article-body">
	{{#each blocks}}
		<div class="block">
      <div class="text">
        <p>{{{text}}}</p>
      </div>
      <div class="image">
        <img src="{{picture}}">
      </div>
		</div>
	{{/each}}
</div>
