<div class="title serif">
  <h1>{{title}}</h1>
  <h3>Current areas of research</h3>
</div>
<div class="researchTopicsList">
	{{#each topics}}
		<div class="topic">
			<div class="title">
        <img src="{{picture}}">
        <div>
  				<h1 class="serif">{{title}}</h1>
  				<h3>{{#each authors}}<a href="{{link}}">{{name}}{{#if @last}}{{else}}, {{/if}}</a>{{/each}}</h3>
        </div>
      </div>
			<div class="description">
				<p>{{description}}</p>
        <a href="{{link}}">Read more...</a>
			</div>
		</div>
	{{/each}}
</div>
